.adverPar{
    color: var(--white);
    text-align: center;
    padding-top: 2px;
    margin-top: 8px;
    height: fit-content !important;
    padding-bottom: 3px;
}
.adverPar a{
    text-decoration: underline;
    color: #2dcafb !important;
    font-weight: 600;
}
.containerAdver{
    width: 100%;
    background-color: #141b2d;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content !important;
    z-index: 2000;
}
.logoGlyphs{
    width: 50px;
    height: 50px;
}