.showBlogParagraphDiv{
    text-align: justify;
}
.showBlogImage{
    height: 60%;
    width: 90%;
    object-fit: contain;
    border-bottom-left-radius: 170px;
}
.blogTitileConinater{
    height: 100px !important;
}
.iconsShareAndSave{
    display: flex;
    height: 50px;
}
.favoriteIconCursor{
    cursor: pointer;
    color: var(--primary-color);

  }
  .shareIconMargin{
    margin: 0px 5px 0px 5px
  }
  .shareIconMargin,
  .favIconColor,
  .youtubIcon{
    font-size: 20px !important;
  }

  .shareIconMargin{
    cursor: pointer;
    color: var(--secondary-color);
  }
.showBlogParagraph{
    width: 100%;
    font-size: 20px;
    color: var(--primary-color) !important;
    text-align: justify;
    height: 100%;
    font-weight: 400;
}
.showBlogParagraph p{
    width: 100%;
    font-size: 20px;
    color: var(--primary-color) !important;
    text-align: justify;
    height: 100%;
    font-weight: 400;
}
.youtubIcon{
    cursor: pointer;
    color: var(--secondary-color);
    font-size: 25px;
}
.favIconColor{
    cursor: pointer;
    color: var(--secondary-color);
    font-size: 25px;
}
.eventCardContainer{
    padding-top: 125.4px;}
.showBlogTitle{
    color: var(--primary-color);

}
.showBlogDate{
    font-weight: 400;
    color: #ADA7A7
}
.showBlogParagraphTitle{
    font-weight: 400;
    color: var(--primary-color);
    height: 100%;
    margin-top: 20px !important;
    font-size: 20px;
}
.mainSectionBlog{
    /* background-color: #C2DEF3; */
    width: 100%;
    background-size: cover;
    margin: 0 !important;
}
.showBlogMainTitle{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 20px;
    padding-top: 30px;
    height: fit-content;
}
.showBlogParagraphTitle p{
    max-height: calc(1.2em * 3); 
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400 !important;
    font-size: 20px !important;
    display: -webkit-box;
    -webkit-line-clamp: 5; 
    -webkit-box-orient: vertical;
}
.showBlogParagraphDiv p{
    color: var(--primary-color);
    font-size: 20px !important;
    font-weight: 400;
    text-align: justify !important;
    
}
.showBlogParagraphDiv{
    overflow: hidden;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.showBlogParagraphDiv span{
    font-size: 20px;
}
/* width: 100% */
@media (max-width: 768px) {
    .interestedCardContainerBlog{
        /* width: 100% ; */
        max-width: 400px;
    }
    .showBlogImage{
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding-top: 0px;
    border-bottom-left-radius: 140px;
}

}
@media (max-width:880px) {
    .eventCardContainer{
        display: none;
    }
}

@media (max-width: 480px) {
    .interestedCardContainerBlog{
    width: 100% !important;
    }
    .showBlogParagraph{
        font-size: 14px !important;
    }
    .showBlogParagraphTitle{
        font-size: 14px !important;
    }
    .showBlogParagraph p{
        font-size: 14px !important;
    }
    .showBlogParagraphDiv span{
        font-size: 14px;
    }
    .showBlogParagraphDiv{
        font-size: 14px;
    }

}