.spinner,
.spinnerCloum{
    background: white;
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
}
.spinnerCloum{
    flex-direction: column !important;
}
.loadingMessage{
    text-align: center ;
    color: var(--primary-color);
    font-weight: 600;
}
.BeatLoader span{
    background-color: var(--primary-color) !important;
}