a{
    color: black !important;
    text-decoration: none !important;
}
a:active{
    color: black !important;
}

.deafultImge{
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

html {
    scroll-behavior: auto !important;
  }
 
  
